.loader {
 position: fixed;
 min-height: 100vh;
 z-index: 9999;
 overflow: hidden;
 background: black url(../../img/load.gif) no-repeat center center;
 animation: loaderDelay 1.5s ease-in 1 forwards;
}
@keyframes loaderDelay {
 0% {
  opacity: 1;
 }
 50% {
  opacity: 50%;
 }
 100% {
  opacity: 0;
  visibility: hidden;
 }
}
